/* .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
} */

.footer {
    margin-right: 240px;
    width: 100%;
}
footer.footer-dark {
    background: #404E67;
    color: #FFFFFF;
}
footer.navbar-border {
    border-top: 1px solid #E4E7ED;
}
footer.footer {
    padding: 0.4rem;
}
.fixed-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1030;
}